@model MyModel
@{
    ViewData["Title"] = "Home Page";
}

<form>
    @for (int idx = 0; idx < Model.Rows.Count; idx++)
    {
        @Html.HiddenFor(m => Model.Rows[idx].IntProperty)
        @Html.HiddenFor(m => Model.Rows[idx].StringProperty)
        <hr />
    }
</form>